page-list {
    ion-content {
        .scroll-content {
            padding-top: 60px!important;
            ion-list {
                avatar-list-item {
                    display: block;
                }
            }
            ion-list:first-child {
                ion-list-header {
                    border-top: none;
                }
            }
        }
    }
}