my {
    display: inline-grid;
    div.scroll {
        $color: primary;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 8px;
        div.flex-container {
            display: flex;
            //padding: 6px;
            float: left;
            button {
                flex: 0 0 auto;
                margin: 0px 5px 0px 5px;
                color: color($colors, $color);
                background-color: rgba(color($colors, $color), 0.2);
                box-shadow: none;
            }
            button:hover {
                background-color: rgba(color($colors, $color), 0.5);
            }
            button[selected] {
                color: white;
            }
            button[overlay] {
                position: absolute;
                visibility: hidden;
                background-color: rgba(color($colors, $color), 0.9);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}