<ion-grid>
    <ion-row class="header">
        <ion-col>
            <img src="assets/imgs/{{language}}.png"> {{language}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4>
            <img src="assets/imgs/puzzle.png"> {{rates?.easy}}<small class="rate">/10</small>
            <br><span>Easy</span>
        </ion-col>
        <ion-col col-4>
            <img src="assets/imgs/group.png"> {{rates?.support}}<small class="rate">/10</small>
            <br><span>Support</span>
        </ion-col>
        <ion-col col-4>
            <img src="assets/imgs/speed.png"> {{rates?.performance}}<small class="rate">/10</small>
            <br><span>Performance</span>
        </ion-col>
    </ion-row>
</ion-grid>