movie-seats {
    div.container {
        margin-top: 0px;
        display: flex;
        overflow-x: auto;
        ion-grid {
            padding: 0px;
            margin-left: 0px;
            margin-right: 0px;
            ion-row {
                justify-content: center;
                ion-col {
                    padding: 0px;
                    max-width: 24px!important;
                    min-width: 22px!important;
                    width: 22px!important;
                    height: 22px;
                    span.circle {
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background-color: rgba(gray, 0.5);
                        transition: all 0.45s ease-in;
                    }
                    span.circle[selected] {
                        width: 16px;
                        height: 16px;
                    }
                    span.circle[selected=lovers] {
                        background-color: rgba(red, 0.5);
                    }
                    span.circle[selected=friends] {
                        background-color: rgba(green, 0.5);
                    }
                    span.circle[selected=family] {
                        background-color: rgba(blue, 0.5);
                    }
                }
            }
        }
        ion-grid.left {
            flex: 2;
            min-width: 58px;
        }
        ion-grid.right {
            flex: 2;
            min-width: 58px;
        }
        ion-grid.middle {
            flex: 8;
            min-width: 190px;
        }
    }
}